* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  background: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1em;
  height: 10em;
  background-image: url("../images/learn_page_background_top.jpg");
  background-size: cover;
}

header #logo img {
  height: 100%;
  width: 100%;
}

header #teacher_mode, #student_mode {
  background: #bce826;
  opacity: 1;
  position: absolute;
  padding: 1em;
  right: 1%;
  border: 3px solid black;
  border-radius: 1em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 13%;
  height: 3em;
  text-align: center;
}

header #teacher_mode a, #student_mode a {
  color: #158467;
  font-family: Roboto Mono;
  font-weight: Bold;
  font-size: 2em;
  text-decoration: none;
}

/* navigation */
#nav {
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 8em;
  height: 5.5em;
  z-index: 1;
  text-align: center;
  background-image: url("../images/learn_page_background_top.jpg");
  background-size: cover;
}

#navigation {
  width: 100%;
  background: #bce826;
  opacity: 1;
  border: 5px solid black;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

#navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#navigation li {
  list-style: none;
  width: 25%;
  padding: 0.7em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: block;
  text-align: center;
}

#navigation li.current a {
  color: white;
}

#navigation a {
  color: black;
  padding: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-decoration: none;
  opacity: 1;
  text-align: center;
}

#navigation .koala {
  z-index: 1;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0em 0em;
  width: 10%;
}

#navigation .koala img {
  width: 100%;
  height: 100%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

/* autoslider  */
#article_slider_container {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#article_slider_container #slider {
  padding: 12em;
  background-image: url("../images/learn_page_background.jpg");
  background-size: cover;
}

#article_slider_container .Unique_fact {
  color: white;
  font-size: 6em;
  position: absolute;
  top: 40%;
  right: 60%;
  font-weight: bold;
  width: 20%;
}

#article_slider_container div {
  width: 100%;
  text-align: center;
}

#article_slider_container div img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

#article_slider_container .autoslider {
  display: none;
  -webkit-animation-name: transparent;
  animation-name: transparent;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 5em;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 10px;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: lightgray;
}

/* animal types section */

#animal_type_selection {
  text-align: center;
  background-color: #bce826;
}

#animal_type_selection h1 {
  padding: 1em;
  font-size: 5em;
}

#animal_type_selection h2 {
  color: white;
}

.animal_types {
  text-align: center;
  display: flex;
  justify-content: center;
}

.animal_types article{
  width: 28em;
  height: 20%;
  justify-content: center;
  margin: 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.animal_types img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.animal_types p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 0.3em;
  font-size: 30px;
}

.mammals {
  background-color: #FE7171;
}

.mammals .background {
  background-image: url(../images/koala_article.jpg);
}

.mammals .background:hover {
  background-image: url(../images/koala_cartoon.jpg);
  transition: all 1s ease;
}

.animal_types .background {
  height: 20em;
  background-size: cover;
}

.birds {
  background-color: #FB7813;
}

.birds .background{
  background-image: url(../images/kangaroo.jpg);
}

.fish {
  background-color: #0C9463;
}

.fish .background {
  background-image: url(../images/humpback.jpg);
}

.reptile {
  background-color: #F8B400;
}

.reptile .background{
  background-image: url(../images/possum.jpg);
}

.invertebrate {
  background-color: #2F80ED;
}

.invertebrate .background{
  background-image: url(../images/dingo.jpg);
}

.amphibian {
  background-color: #56CCF2;
}

.amphibian .background{
  background-image: url(../images/wallaby.jpg);
}

footer {
  display: flex;
  background-image: url(../images/learn_page_background_top.jpg);
  background-size: cover;
}

footer section {
  padding: 3em;
  padding-left: 13em;
  display: grid;
}

footer section a{
  font-size: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  height: 2em;
}

/* animal_types_page */

.mammal_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/mammal_background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.birds_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/bird_article.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.fish_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/fish.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.reptiles_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/reptiles.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.invertebrates_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/invertebrate.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.amphibians_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/amphibian.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.koala_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/koala_article.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.kangaroo_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/kangaroo.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.Dingo_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/dingo.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.possum_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/possum.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.wallaby_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/wallaby.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.humpback_background {
  width: 100%;
  height: 30em;
  background-image: url(../images/humpback.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.mammal_title {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-85%, 0%);
  color: white;
}

.horizontal_line {
  border-top: 6px solid #bce826;
  width: 35%;
  margin-bottom: 1.5em;
}

.mammal_title h1 {
  font-size: 4em;
}


.mammal_background div img {
  max-width: 100%;
}

/* video page */

#top_video {
  width: 100%;

  padding-top: 12em;
  text-align: center;
  background-image: url("../images/learn_page_background.jpg");
}

#top_video .demo_video {
  padding: 5em;
}

#top_video .demo_video iframe{
  width: 75em;
  height: 50em;
}

#video_section {
  text-align: center;
  background-color: #bce826;
}

#video_section h1 {
  padding: 1em;
  font-size: 5em;
}

#videos {
  text-align: center;
  display: flex;
  justify-content: center;
}

#videos div {
  padding: 3em;
}

#videos .video_part_one, .video_part_two{
  width: 28em;
  height: 18em;
  background-color: lightskyblue;
  justify-content: center;
  margin: 6em;
  margin-top: 3em;
}

/* particular_animal */

.particular_animal {
  font-size: 2em;
  padding: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
}

.particular_animal_name h1 {
  margin-top: 2em;
  margin-right: 2em;
}

.particular_animal p {
  padding: 0.5em;
}

/* teacher_mode_page */

.input_out {
  float:right;
  padding-right: 5%;
  padding-top: 2em;
}

.input_out input[type=text] {
  padding: 7px;
  margin-top: 8px;
  font-size: 18px;    
}

.input_out button {
  padding: 7px 11px;
  margin-top: 9px;
  margin-right: 17px;
  background: #ddd;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.topic_of_top_section{
  padding-bottom: 5em;
  padding-left: 5%;
  padding-top: 2%;
}

h5 {
  font-family: rowdies;
  font-size: 2.5em;
  font-weight: 400;
}

.underline {
  border-bottom: 8px solid orange;
  padding-bottom: 10px;
}

.keeping_student_focused {
  width: 1350px;
  height: 700px;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.keeping_student_focused a, .teaching_resources a {
  text-decoration: none;
  padding-bottom: 5em;
}

.show {
  display: block;
  width:100%;
  height: 75%;
  object-fit: cover;
  margin-top: -100px;
  margin-bottom: -150px;
}


.content_of_big_picture {
  position: absolute;
  width: 389px;
  height: 316px;
  left: 55%;
  top: 150px;
}

@font-face {
  font-family: 'rowdies';
  src: url('Rowdies-Regular.ttf');
}

h6 {
  font-size: 64px;
  font-style: normal;
  line-height: 79.49px;
  font-weight: 400;
  color: black;
  font-family: rowdies;
}

.learning_advice {
  width: 100%;
  padding-top: 5em;
  text-align: center;
}

.advices {
  width: 400px;
  height: 500px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
  border: solid 2px grey;  
}


.images_of_advices {
  max-width: 400px;
  max-height: 400px;
  padding-bottom: 20px;
}

.content_of_advices {
  width: 350px;
  margin-left: 25px;
  margin-right: 25px;  
}

h7 {
  font-family: rowdies;
  font-size: 27px;
  font-weight: 400;
  color: black;    
}

.learning_advice a {
  text-decoration: none;
}

.topic_of_bottom_section {
  padding-top: 6em;
  text-align: center;
  padding-bottom: 1.5em;
}

.teaching_resources {
  width: 100%;
  padding-top: 5em;
  text-align: center;
}

.resources {
  width: 575px;
  height: 440px;
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  border: solid 2px grey; 
}

.images_of_resources {
  max-width: 575px;
  max-height: 350px;
  padding-bottom: 10px;
}

.content_of_resources {
  width: 535px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center; 
}

.more {
  font-family: rowdies;
  font-size: 38px;
  padding-top: 1em;
  padding-left: 75%;
  padding-bottom: 4em;
}

.more a {
  text-decoration: none;
  color: black;
}

#map{
  display: inline;
  width: 500pt;
  border: #FB7813;
}

#quiz_section {
  background-color: #bce826;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 70em;
  display: flex;
  align-items: center;
}

.quiz_content {
  width: 80%;
  height: 80%;
  border: 5px solid black;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.quiz_content h1 {
  text-align: left;
  font-size: 3em;
  padding-left: 2em;
  padding-top: 1em;
  font-weight: bold;
  justify-content: center;
}

.quiz_content img {
  max-width: 60%;
  padding: 2em;
}

.quiz_content h2 {
  padding-top: 2em;
  font-size: 2.2em;
}

/* below code are refer to the https://codepen.io/Coding_Journey/pen/YzKpLvE */

.draggable-elements {
  display: flex;
  justify-content: center;
  height: 8em;
  margin-top: 5em;
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  margin: 0em 1em;
  cursor: move;
  opacity: 0.7;
}

#cat {
  color: #ff6384;
}

#dog {
  color: #36a2eb;
}

#frog {
  color: #4bc0c0
}

#fish {
  color: #9966ff
}

#dove {
  color: #ffce56
}

.draggable:hover {
  opacity: 1;
  font-size: 5.3em;
  transition: 0.5s ease;
}

.droppable-elements {
  display: flex;
  margin-top: 5em;
}

.droppable {
  height: 2em;
  width: 2em;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 3.3em;
  font-weight: bold;
  background-color: #fff;
  border: 3px dashed #111;
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none;
}

/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  border-width: 5px;
  transform: scale(1.1);
}

.droppable.dropped {
  border-style: solid;
  color: #fff;
}

.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.droppable.dropped i {
  pointer-events: none;
}

.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}

.draggable.dragged:hover {
  opacity: 0.1;
}
